.pizza * {
  display: inline;
}
.pizza header {
  text-transform: uppercase;
}
.pizza ul {
  list-style: none;
}
.pizza li {
  font-style: italic;
  margin:0 .2em;
}
.pizza pre {
  margin:0 .2em;
  font-weight: bold;
}
.pizza pre:after{
  content:"€";
}